@charset "UTF-8";

/* スクロールバーの有無で画面のガタつきを防ぐためのCSS */
body {
    overflow-y: scroll;
}

.top {
margin-top: 68px;
}

.above {
display: flex;
justify-content:flex-end;
}

.above-serach {
clear: both;
display: inline-block;
}

.title {
width: 30%;
margin-left : 10%;
margin-bottom: 20px;
}

.dropdown-sort {
text-align: right;
}

.textarea {
width: 80%;
margin: auto;
}

/* indexのボタンの整列 */
.wrapper {
display: flex;
justify-content:flex-end;
width: 90%;
}

.wrapper-button {
margin: 10px;
}

/* flexboxを使用する */
/* 親要素 */
.flex_test-box {
display: flex;
justify-content:flex-end;
width: 90%;
}

/* 子要素 */
.flex_test-item {
margin: 10px;
}

/* Updateが1,Deleteが2,Copyが3で、それを並び替える */
.flex_test-item:nth-child(1) {
order: 2;
}

.flex_test-item:nth-child(2) {
order: 1;
}

.flex_test-item:nth-child(3) {
order: 3;
}